.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 999;
}

.game-over {
  text-align: center;
  background-color: #fff;
  box-shadow:
    0 0 20px rgba(59, 76, 202, 0.6),
    0 0 40px rgba(255, 203, 5, 0.6);
  border-radius: 5px;
  width: clamp(300px, 50vw, 500px);
  padding: 2rem;
}

.game-over h2 {
  font-size: 1.75rem;
  color: #000;
  margin: 0 0 3rem 0;
}

.game-over button {
  font-size: 1.25rem;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  background-color: #154355;
  color: #faca4f;
  padding: 0.5rem;
}

.game-over button:active {
  background-color: #235569;
}
